fastapi
uvicorn
python-dotenv

langchain
langchain-community
langchain-huggingface
langchain-deepseek
nest_asyncio

sentence-transformers
transformers
sentencepiece
supabase
accelerate
sacremoses
huggingface-hub
pypdfium2
torch
langchain-huggingface

psycopg2-binary
pgvector

pydantic
pypdf
langdetect